.wp-tripetto-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease-out;
    z-index: 2147483647;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;

    > div {
        position: relative;
        display: block;
        background-color: rgba(241,241,241,.98);
        border-radius: 8px;
        transition: transform .2s ease-out;
        transform: translateY(-50px) scale(.8);
        box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.2);

        > div {
            color: #000;
            font-weight: bold;
            font-size: 24px;
            padding: 24px 24px 0px;
        }

        > p {
            color: #7f8c8d;
            font-size: 16px;
            padding: 0px 24px;
        }

        > a:first-of-type {
            position: absolute;
            display: block;
            width: auto;
            left: 24px;
            bottom: 24px;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            text-align: center;
            padding: 16px 32px;
            text-decoration: none;
            cursor: pointer;

            &:focus {
                text-decoration: underline;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        > a:last-of-type {
            position: absolute;
            display: block;
            width: auto;
            right: 24px;
            bottom: 24px;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            text-align: center;
            padding: 16px 32px;
            text-decoration: none;
            cursor: pointer;

            &:focus {
                text-decoration: underline;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.show {
        opacity: 1;

        > div {
            transform: translateY(0) scale(1);
        }
    }

    &.close {
        opacity: 0;

        > div {
            transform: translateY(50px) scale(.8);
        }
    }
}
