#wp-tripetto-builder {
  position: absolute;
  top: 46px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  @media screen and (max-width: 783px) {
    left: 0;
    top: 46px;
  }

  @media screen and (min-width: 783px) {
    left: 36px;
    top: 32px;
  }

  @media screen and (min-width: 961px) {
    left: 160px;
    top: 32px;

    @at-root body.folded {
      #wp-tripetto-builder {
        left: 36px;
      }
    }
  }

  &.fullscreen {
    left: 0;
    top: 0;
    z-index: 9999999999;
  }

  &.ready {
    opacity: 1;
  }
}
